@model IEnumerable<Entities.Entities.Produto>

@{
    ViewData["Title"] = "Index";
}

<h1>Meus Produtos</h1>

<p>
    <a asp-action="Create">Criar um novo produto</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>Imagem</th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QtdEstoque)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @{
                        if (!string.IsNullOrWhiteSpace(item.Url))
                        {
                            <img width="80" height="80" src=@item.Url />
                        }
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Valor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.QtdEstoque)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", "Produtos", new { id = item.Id }, new { @class = "btn btn-success " })
                    @Html.ActionLink("Detalhes", "Details", "Produtos", new { id = item.Id }, new { @class = "btn btn-primary " })
                    @Html.ActionLink("Remover", "Delete", "Produtos", new { id = item.Id }, new { @class = "btn btn-danger " })
                </td>
            </tr>
        }
    </tbody>
</table>
